@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    @apply bg-[#FAF8F5] text-[#2D2926];
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  padding: 0;
}
